.productContainer{
        background-color: white ;
        padding: 2rem;
        overflow-y: auto;
    .productInfo{
        @include flex(row , space-between);
        margin-bottom: 2rem;
        >h2{
            @include heading(3px);
        }
        >button{
            @include square(2.5rem);
            @include flex(row , center , center , 0);
            font-size: 1.5rem;
            border-radius: 50%;
            background-color: rgb(201, 9, 9);
            color: white;
            border: none;
            &:hover {
              opacity: 0.8;
            }
        }
    }
}

.productImg {
  @include square(6rem);
  object-fit: contain;
}

.formContainer{
  display: block;
  width: 100%;
  max-width: 600px;
}